<div class="row">
  <div class="col">
    <div class="card">
      <span class="card-header">
        <span class="h5">Все записи</span>
        {% if add_link %}
          <a type="button" class="btn btn-outline-primary btn-sm mx-2" href="{% url add_link %}">Добавить новую</a>
        {% endif %}
      </span>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              {% block thead %}
              {% endblock %}
            </thead>
            <tbody>
              {% block tbody %}
              {% endblock %}
            </tbody>
          </table>
          {% include 'snippets/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
</div>