{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_style %}
  form label {
    margin-top: 10px;
    margin-bottom: 5px;
  }


{% endblock %}

{% block container %}
  <div class="container px-4">
    {% include 'snippets/header.html' %}
  </div>

<div class="container g-5" style="max-width: 600px">

  <div class="px-4 py-3">
    <h1 class="h3 mb-3 fw-normal">Смена пароля</h1>
    <div class="alert alert-success" role="alert">
      Пароль успешно изменен!<br>
      Вы можете вернуться в <a href="{% url 'admin_dashboard' %}">личный кабинет</a>.
    </div>

  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'home' %}">Главная страница</a>
</div>

{% endblock %}