{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_style %}
  form label {
    margin-top: 10px;
    margin-bottom: 5px;
  }


{% endblock %}

{% block container %}
<div class="container g-5 py-5" style="max-width: 600px">

  <form method="post" class="px-4 py-3">
    <h1 class="h3 mb-3 fw-normal">Изменить старый пароль</h1>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary mt-3">Изменить</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Впервые здесь? Ознакомьтесь с инструкцией</a>
</div>

{% endblock %}